/*** Dark Theme ***/
/* /!\  Do not change the above line since that is used for some runtime purpose. You can also use it if you need it, just mention whether the theme is dark or light /!\ */

QToolBar * {
  margin: 0px;
  padding: 0px;
}

QWidget{
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(4, 62, 91, 255), stop: 1 rgba(16, 27, 50, 255));
}

QWidget::separator {
  background-color: rgba(9, 14, 57, 0.6);
  border: 0px solid #1f5b5e;
  spacing: 0px;
  padding: 2px;
}

QWidget::separator:hover {
  background-color: #60798B;
  border: 0px solid #1f5b5e;
}

QWidget::separator:horizontal {
  width: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  image: url(":/Images/Controls_Images_Dark/toolbar_separator_vertical.png");
}

QWidget::separator:vertical {
  height: 5px;
  margin-left: 2px;
  margin-right: 2px;
  image: url(":/Images/Controls_Images_Dark/toolbar_separator_horizontal.png");
}

QToolTip {
  background-color: #346792;
  color: #FAFBFC;
  border: none;
  padding: 0px;
}

QStatusBar {
  border: 1px solid #1f5b5e;
  background: #13213f;
}

QStatusBar::item {
  border: none;
}

QStatusBar QToolTip {
  background-color: #1A72BB;
  border: 1px solid #1f5b5e;
  color: #035a47;
  padding: 0px;
  opacity: 230;
}

QStatusBar QLabel {
  background: transparent;
}

QCheckBox {
  background-color: transparent;
  color: #FAFBFC;
  spacing: 4px;
  outline: none;
  padding-top: 4px;
  padding-bottom: 1px;
}

QCheckBox:focus {
  border: none;
}

QCheckBox:disabled {
  background-color: transparent;
  color: #7A7A7A;
}

QCheckBox::indicator {
  margin-left: 2px;
  height: 14px;
  width: 14px;
}

QCheckBox::indicator:unchecked {
  image: url(":/Images/Controls_Images_Dark/checkbox_unchecked.png");
}

QCheckBox::indicator:unchecked:hover, QCheckBox::indicator:unchecked:focus, QCheckBox::indicator:unchecked:pressed {
  border: none;
  image: url(":/Images/Controls_Images_Dark/checkbox_unchecked_focus.png");
}

QCheckBox::indicator:unchecked:disabled {
  image: url(":/Images/Controls_Images_Dark/checkbox_unchecked_disabled.png");
}

QCheckBox::indicator:checked {
  image: url(":/Images/Controls_Images_Dark/checkbox_checked.png");
}

QCheckBox::indicator:checked:hover, QCheckBox::indicator:checked:focus, QCheckBox::indicator:checked:pressed {
  border: none;
  image: url(":/Images/Controls_Images_Dark/checkbox_checked_focus.png");
}

QCheckBox::indicator:checked:disabled {
  image: url(":/Images/Controls_Images_Dark/checkbox_checked_disabled.png");
}

QCheckBox::indicator:indeterminate {
  image: url(":/Images/Controls_Images_Dark/checkbox_indeterminate.png");
}

QCheckBox::indicator:indeterminate:disabled {
  image: url(":/Images/Controls_Images_Dark/checkbox_indeterminate_disabled.png");
}

QCheckBox::indicator:indeterminate:focus, QCheckBox::indicator:indeterminate:hover, QCheckBox::indicator:indeterminate:pressed {
  image: url(":/Images/Controls_Images_Dark/checkbox_indeterminate_focus.png");
}

QGroupBox[accessibleName = "outer_groupbox"] {
  font-weight: bold;
  border: 1px solid #1f5b5e;
  border-radius: 4px;
  padding: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: transparent;
}

/******** For polar plot drawing visibility ********/

QGroupBox {
  font-weight: bold;
  border: 1px solid #1f5b5e;
  border-radius: 4px;
  padding: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: transparent;
}

/***************************************************/

QGroupBox::title {
  subcontrol-origin: margin;
  /*subcontrol-position: top left;*/
  left: 4px;
  padding-left: 2px;
  padding-right: 4px;
  padding-top: -2px;
  color: #fafbfc;
}

QGroupBox::indicator {
  margin-left: 2px;
  margin-top: 2px;
  padding: 0;
  height: 14px;
  width: 14px;
}

QGroupBox::indicator:unchecked {
  border: none;
  image: url(":/Images/Controls_Images_Dark/checkbox_unchecked.png");
}

QGroupBox::indicator:unchecked:hover, QGroupBox::indicator:unchecked:focus, QGroupBox::indicator:unchecked:pressed {
  border: none;
  image: url(":/Images/Controls_Images_Dark/checkbox_unchecked_focus.png");
}

QGroupBox::indicator:unchecked:disabled {
  image: url(":/Images/Controls_Images_Dark/checkbox_unchecked_disabled.png");
}

QGroupBox::indicator:checked {
  border: none;
  image: url(":/Images/Controls_Images_Dark/checkbox_checked.png");
}

QGroupBox::indicator:checked:hover, QGroupBox::indicator:checked:focus, QGroupBox::indicator:checked:pressed {
  border: none;
  image: url(":/Images/Controls_Images_Dark/checkbox_checked_focus.png");
}

QGroupBox::indicator:checked:disabled {
  image: url(":/Images/Controls_Images_Dark/checkbox_checked_disabled.png");
}

QRadioButton {
  background-color: transparent;
  color: #FAFBFC;
  spacing: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: none;
  outline: none;
}

QRadioButton:focus {
  border: none;

}

QRadioButton:disabled {
  background-color: transparent;
  color: #7A7A7A;
  border: none;
  outline: none;
}

QRadioButton QWidget {
  background-color: transparent;
  color: #FAFBFC;
  spacing: 0px;
  padding: 0px;
  outline: none;
  border: none;
}

QRadioButton::indicator {
  border: none;
  outline: none;
  margin-left: 2px;
  height: 14px;
  width: 14px;
}

QRadioButton::indicator:unchecked {
  image: url(":/Images/Controls_Images_Dark/radio_unchecked.png");
}

QRadioButton::indicator:unchecked:hover, QRadioButton::indicator:unchecked:focus, QRadioButton::indicator:unchecked:pressed {
  border: none;
  outline: none;
  image: url(":/Images/Controls_Images_Dark/radio_unchecked_focus.png");
}

QRadioButton::indicator:unchecked:disabled {
  image: url(":/Images/Controls_Images_Dark/radio_unchecked_disabled.png");
}

QRadioButton::indicator:checked {
  border: none;
  outline: none;
  image: url(":/Images/Controls_Images_Dark/radio_checked.png");
}

QRadioButton::indicator:checked:hover, QRadioButton::indicator:checked:focus, QRadioButton::indicator:checked:pressed {
  border: none;
  outline: none;
  image: url(":/Images/Controls_Images_Dark/radio_checked_focus.png");
}

QRadioButton::indicator:checked:disabled {
  outline: none;
  image: url(":/Images/Controls_Images_Dark/radio_checked_disabled.png");
}

QMenuBar {
  background-color: rgba(9, 14, 57, 0.6);
  padding: 2px;
  border: 1px solid #1f5b5e;
  color: #FAFBFC;
  selection-background-color: #1A72BB;
}

QMenuBar:focus {
  border: 1px solid #1f5b5e;
}

QMenuBar::item {
  background: transparent;
  padding: 4px;
}

QMenuBar::item:selected {
  padding: 4px;
  background: transparent;
  border: 0px solid #1f5b5e;
  background-color: #1A72BB;
}

QMenuBar::item:pressed {
  padding: 4px;
  border: 0px solid #1f5b5e;
  background-color: #1A72BB;
  color: #FAFBFC;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

QMenu {
  border: 0px solid #1f5b5e;
  color: #FAFBFC;
  margin: 5px;
  background-color: #055c88;
  selection-background-color: #1A72BB;
}

QMenu::separator {
  height: 1px;
  background-color: #60798B;
  color: #FAFBFC;
}

QMenu::item {
  background-color: #055c88;
  padding: 4px 24px 4px 10px;
  border: 1px transparent #1f5b5e;
}

QMenu::item:selected {
  color: #FAFBFC;
  background-color: #1A72BB;
}

QMenu::item:pressed {
  background-color: #1A72BB;
}

QMenu::icon {
  padding-left: 10px;
  width: 14px;
  height: 14px;
}

QMenu::indicator {
  padding-left: 8px;
  width: 12px;
  height: 12px;
}

/*QMenu::indicator:non-exclusive:unchecked {
  image: url(":/Images/Controls_Images_Dark/checkbox_unchecked.png");
}

QMenu::indicator:non-exclusive:unchecked:hover, QMenu::indicator:non-exclusive:unchecked:focus, QMenu::indicator:non-exclusive:unchecked:pressed {
  border: none;
  image: url(":/Images/Controls_Images_Dark/checkbox_unchecked_focus.png");
}

QMenu::indicator:non-exclusive:unchecked:disabled {
  image: url(":/Images/Controls_Images_Dark/checkbox_unchecked_disabled.png");
}

QMenu::indicator:non-exclusive:checked {
  image: url(":/Images/Controls_Images_Dark/checkbox_checked.png");
}

QMenu::indicator:non-exclusive:checked:hover, QMenu::indicator:non-exclusive:checked:focus, QMenu::indicator:non-exclusive:checked:pressed {
  border: none;
  image: url(":/Images/Controls_Images_Dark/checkbox_checked_focus.png");
}

QMenu::indicator:non-exclusive:checked:disabled {
  image: url(":/Images/Controls_Images_Dark/checkbox_checked_disabled.png");
}*/

QMenu::indicator:non-exclusive:indeterminate {
  image: url(":/Images/Controls_Images_Dark/checkbox_indeterminate.png");
}

QMenu::indicator:non-exclusive:indeterminate:disabled {
  image: url(":/Images/Controls_Images_Dark/checkbox_indeterminate_disabled.png");
}

QMenu::indicator:non-exclusive:indeterminate:focus, QMenu::indicator:non-exclusive:indeterminate:hover, QMenu::indicator:non-exclusive:indeterminate:pressed {
  image: url(":/Images/Controls_Images_Dark/checkbox_indeterminate_focus.png");
}

QMenu::indicator:exclusive:unchecked {
  image: url(":/Images/Controls_Images_Dark/radio_unchecked.png");
}

QMenu::indicator:exclusive:unchecked:hover, QMenu::indicator:exclusive:unchecked:focus, QMenu::indicator:exclusive:unchecked:pressed {
  border: none;
  outline: none;
  image: url(":/Images/Controls_Images_Dark/radio_unchecked_focus.png");
}

QMenu::indicator:exclusive:unchecked:disabled {
  image: url(":/Images/Controls_Images_Dark/radio_unchecked_disabled.png");
}

QMenu::indicator:exclusive:checked {
  border: none;
  outline: none;
  image: url(":/Images/Controls_Images_Dark/radio_checked.png");
}

QMenu::indicator:exclusive:checked:hover, QMenu::indicator:exclusive:checked:focus, QMenu::indicator:exclusive:checked:pressed {
  border: none;
  outline: none;
  image: url(":/Images/Controls_Images_Dark/radio_checked_focus.png");
}

QMenu::indicator:exclusive:checked:disabled {
  outline: none;
  image: url(":/Images/Controls_Images_Dark/radio_checked_disabled.png");
}

QMenu::right-arrow {
  margin: 5px;
  padding-left: 12px;
  image: url(":/Images/Controls_Images_Dark/arrow_right.png");
  height: 12px;
  width: 12px;
}

QAbstractItemView {
  alternate-background-color: rgba(9, 14, 57, 110);
  color: #FAFBFC;
  border: 1px solid #1f5b5e;
  border-radius: 4px;
}

QAbstractItemView QLineEdit {
  padding: 2px;
}

QAbstractScrollArea {
  background-color: rgba(9, 14, 57, 0.6);
  border: 1px solid #1f5b5e;
  border-radius: 4px;
  padding: 2px;
  color: #FAFBFC;
}

QAbstractScrollArea:disabled {
  color: #7A7A7A;
}

QScrollArea QWidget QWidget:disabled {
  background-color: rgba(64, 67, 74, 0.3);
}

QScrollBar:horizontal {
  height: 16px;
  margin: 2px 16px 2px 16px;
  border: 1px solid #1f5b5e;
  border-radius: 4px;
  background-color: rgba(9, 14, 57, 0.6);
}

QScrollBar:vertical {
  background-color: rgba(9, 14, 57, 0.6);
  width: 16px;
  margin: 16px 2px 16px 2px;
  border: 1px solid #1f5b5e;
  border-radius: 4px;
}

QScrollBar::handle:horizontal {
  background-color: #075982;
  border: 1px solid #1f5b5e;
  border-radius: 4px;
  min-width: 8px;
}

QScrollBar::handle:horizontal:hover {
  background-color: #60798B;
  border: #1f5b5e;
  border-radius: 4px;
  min-width: 8px;
}

QScrollBar::handle:horizontal:focus {
  border: 1px solid #1f5b5e;
}

QScrollBar::handle:vertical {
  background-color: #075982;
  border: 1px solid #1f5b5e;
  min-height: 8px;
  border-radius: 4px;
}

QScrollBar::handle:vertical:hover {
  background-color: #60798B;
  border: #1f5b5e;
  border-radius: 4px;
  min-height: 8px;
}

QScrollBar::handle:vertical:focus {
  border: 1px solid #1f5b5e;
}

QScrollBar::add-line:horizontal {
  margin: 0px 0px 0px 0px;
  border-image: url(":/Images/Controls_Images_Dark/arrow_right_disabled.png");
  height: 12px;
  width: 12px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover, QScrollBar::add-line:horizontal:on {
  border-image: url(":/Images/Controls_Images_Dark/arrow_right.png");
  height: 12px;
  width: 12px;
  subcontrol-position: right;
  subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
  margin: 3px 0px 3px 0px;
  border-image: url(":/Images/Controls_Images_Dark/arrow_down_disabled.png");
  height: 12px;
  width: 12px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on {
  border-image: url(":/Images/Controls_Images_Dark/arrow_down.png");
  height: 12px;
  width: 12px;
  subcontrol-position: bottom;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
  margin: 0px 3px 0px 3px;
  border-image: url(":/Images/Controls_Images_Dark/arrow_left_disabled.png");
  height: 12px;
  width: 12px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on {
  border-image: url(":/Images/Controls_Images_Dark/arrow_left.png");
  height: 12px;
  width: 12px;
  subcontrol-position: left;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
  margin: 3px 0px 3px 0px;
  border-image: url(":/Images/Controls_Images_Dark/arrow_up_disabled.png");
  height: 12px;
  width: 12px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover, QScrollBar::sub-line:vertical:on {
  border-image: url(":/Images/Controls_Images_Dark/arrow_up.png");
  height: 12px;
  width: 12px;
  subcontrol-position: top;
  subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal {
  background: none;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
  background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
  background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
  background: none;
}

QTextEdit {
  background-color: rgba(9, 14, 57, 0.6);
  color: #FAFBFC;
  border-radius: 4px;
  border: 1px solid #1f5b5e;
}

QTextEdit:focus {
  border: 1px solid #1f5b5e;
}

QTextEdit:selected {
  background: #346792;
  color: #13213f;
}

QPlainTextEdit {
  background-color: rgba(9, 14, 57, 0.6);
  color: #FAFBFC;
  border-radius: 4px;
  border: 1px solid #1f5b5e;
}

QPlainTextEdit:focus {
  border: 1px solid #1f5b5e;
}

QPlainTextEdit:selected {
  background: #346792;
  color: #13213f;
}

QSizeGrip {
  background: transparent;
  width: 12px;
  height: 12px;
  image: url(":/Images/Controls_Images_Dark/window_grip.png");
}

QStackedWidget {
  padding: 2px;
  border: 1px solid #1f5b5e;
  border: 1px solid #1f5b5e;
}

QToolBar {
  background-color: rgba(9, 14, 57, 0.6);
  border-bottom: 1px solid #1f5b5e;
  padding: 1px;
  font-weight: bold;
  spacing: 2px;
}

QToolBar:disabled {
  background-color: rgba(64, 67, 74, 0.3);
}

QToolBar::handle:horizontal {
  width: 16px;
  image: url(":/Images/Controls_Images_Dark/toolbar_move_horizontal.png");
}

QToolBar::handle:vertical {
  height: 16px;
  image: url(":/Images/Controls_Images_Dark/toolbar_move_vertical.png");
}

QToolBar::separator:horizontal {
  width: 16px;
  image: url(":/Images/Controls_Images_Dark/toolbar_separator_horizontal.png");
}

QToolBar::separator:vertical {
  height: 16px;
  image: url(":/Images/Controls_Images_Dark/toolbar_separator_vertical.png");
}

QToolButton#qt_toolbar_ext_button {
  background: #13213f;
  border: 0px;
  color: #FAFBFC;
  image: url(":/Images/Controls_Images_Dark/arrow_right.png");
}

QAbstractSpinBox {
  background-color: rgba(9, 14, 57, 0.6);
  border: 1px solid #1f5b5e;
  color: #FAFBFC;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

QAbstractSpinBox:up-button {
  background-color: transparent #035a47;
  subcontrol-origin: border;
  subcontrol-position: top right;
  border-left: 1px solid #1f5b5e;
  border-bottom: 1px solid #1f5b5e;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 1px;
  width: 12px;
  margin-bottom: -1px;
}

QAbstractSpinBox::up-arrow, QAbstractSpinBox::up-arrow:disabled, QAbstractSpinBox::up-arrow:off {
  image: url(":/Images/Controls_Images_Dark/arrow_up_disabled.png");
  height: 8px;
  width: 8px;
}

QAbstractSpinBox::up-arrow:hover {
  image: url(":/Images/Controls_Images_Dark/arrow_up.png");
}

QAbstractSpinBox:down-button {
  background-color: transparent #035a47;
  subcontrol-origin: border;
  subcontrol-position: bottom right;
  border-left: 1px solid #1f5b5e;
  border-top: 1px solid #1f5b5e;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 1px;
  width: 12px;
  margin-top: -1px;
}

QAbstractSpinBox::down-arrow, QAbstractSpinBox::down-arrow:disabled, QAbstractSpinBox::down-arrow:off {
  image: url(":/Images/Controls_Images_Dark/arrow_down_disabled.png");
  height: 8px;
  width: 8px;
}

QAbstractSpinBox::down-arrow:hover {
  image: url(":/Images/Controls_Images_Dark/arrow_down.png");
}

QAbstractSpinBox:hover {
  border: 1px solid #1f5b5e;
  color: #FAFBFC;
}

QAbstractSpinBox:focus {
  border: 1px solid #1f5b5e;
}

QAbstractSpinBox:selected {
  background: #346792;
  color: #13213f;
}

QLabel {
  background-color: transparent;
  border: 0px solid #1f5b5e;
  margin: 0px;
  color: #FAFBFC;
}

QLabel:disabled {
  background-color: transparent;
  border: 0px solid #1f5b5e;
  color: #7A7A7A;
}

QTextBrowser {
  background-color: rgba(9, 14, 57, 0.6);
  border: 1px solid #1f5b5e;
  color: #FAFBFC;
  border-radius: 4px;
}

QTextBrowser:disabled {
  background-color: rgba(64, 67, 74, 0.3);
  border: 1px solid #1f5b5e;
  color: #7A7A7A;
  border-radius: 4px;
}

QTextBrowser:hover, QTextBrowser:!hover, QTextBrowser:selected, QTextBrowser:pressed {
  border: 1px solid #1f5b5e;
}

QGraphicsView {
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(6, 82, 120, 255), stop: 1 rgba(16, 27, 50, 255));
  border: 1px solid #1f5b5e;
  color: #FAFBFC;
  border-radius: 4px;
}

QGraphicsView:disabled {
  background-color: rgba(64, 67, 74, 0.3);
  border: 1px solid #1f5b5e;
  color: #7A7A7A;
  border-radius: 4px;
}

QGraphicsView:hover, QGraphicsView:!hover, QGraphicsView:selected, QGraphicsView:pressed {
  border: 1px solid #1f5b5e;
}

QCalendarWidget {
  border: 1px solid #1f5b5e;
  border-radius: 4px;
}

QCalendarWidget:disabled {
  background-color: rgba(64, 67, 74, 0.3);
  color: #7A7A7A;
}

QLCDNumber {
  background-color: rgba(9, 14, 57, 0.6);
  color: #FAFBFC;
}

QLCDNumber:disabled {
  background-color: rgba(64, 67, 74, 0.3);
  color: #7A7A7A;
}

QProgressBar {
  background-color: rgba(9, 14, 57, 0.6);
  border: 1px solid #1f5b5e;
  color: #FAFBFC;
  border-radius: 4px;
  text-align: center;
}

QProgressBar:disabled {
  background-color: rgba(64, 67, 74, 0.3);
  border: 1px solid #1f5b5e;
  color: #7A7A7A;
  border-radius: 4px;
  text-align: center;
}

QProgressBar::chunk {
  background-color: #346792;
  color: #035a47;
  border-radius: 4px;
}

QProgressBar::chunk:disabled {
  background-color: #26486B;
  color: #7A7A7A;
  border-radius: 4px;
}

QPushButton {
  background-color: qlineargradient(spread: repeat, x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(6, 90, 129, 255), stop: 1 rgba(16, 27, 50, 255));
  color: #FAFBFC;
  border-radius: 4px;
  padding: 2px;
  border: none;
}

QPushButton:disabled {
  background-color: qlineargradient(spread: repeat, x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(6, 90, 129, 100), stop: 1 rgba(16, 27, 50, 100));
  color: #7A7A7A;
  border-radius: 4px;
  padding: 2px;
  border: none;
}

QPushButton:checked {
  background-color: qlineargradient(spread: repeat, x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(6, 90, 129, 255), stop: 1 rgba(16, 27, 50, 255));
  border-radius: 4px;
  padding: 2px;
  outline: none;
  border: none;
}

QPushButton:checked:disabled {
  background-color: qlineargradient(spread: repeat, x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(6, 90, 129, 100), stop: 1 rgba(16, 27, 50, 100));
  color: #7A7A7A;
  border-radius: 4px;
  padding: 2px;
  outline: none;
  border: none;
}

QPushButton:checked:selected {
  background-color: #60798B;
}

QPushButton:hover {
  background-color: qlineargradient(spread: repeat, x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(16, 27, 50, 255), stop: 1 rgba(6, 90, 129, 255));
  color: #FAFBFC;
}

QPushButton:pressed {
  background-color: #60798B;
}

QPushButton:selected {
  background: #60798B;
  color: #FAFBFC;
}

QPushButton::menu-indicator {
  subcontrol-origin: padding;
  subcontrol-position: bottom right;
  bottom: 4px;
}

QDialog {
  background-color: qlineargradient(spread: reflect, x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(6, 82, 120, 255), stop: 1 rgba(16, 27, 50, 255));
  border: 1px solid #1f5b5e;
}

QToolButton {
  background-color: qlineargradient(spread: repeat, x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(6, 90, 129, 100), stop: 1 rgba(16, 27, 50, 100));
  color: #FAFBFC;
  border-radius: 4px;
  padding: 2px;
  outline: none;
  border: none;
}

QToolButton:disabled {
  background-color: qlineargradient(spread: repeat, x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(6, 90, 129, 0.5), stop: 1 rgba(16, 27, 50, 0.5));
  color: #7A7A7A;
  border-radius: 4px;
  padding: 2px;
}

QToolButton:checked {
  background-color: #60798B;
  border-radius: 4px;
  padding: 2px;
  outline: none;
}

QToolButton:checked:disabled {
  background-color: #60798B;
  color: #7A7A7A;
  border-radius: 4px;
  padding: 2px;
  outline: none;
}

QToolButton:checked:hover {
  background-color: #011d2b;
  color: #FAFBFC;
}

QToolButton:checked:pressed {
  background-color: #60798B;
}

QToolButton:checked:selected {
  background: #60798B;
  color: #FAFBFC;
}

QToolButton:hover {
  background-color: #011d2b;
  color: #FAFBFC;
}

QToolButton:pressed {
  background-color: #60798B;
}

QToolButton:selected {
  background: #60798B;
  color: #FAFBFC;
}

QToolButton[popupMode="0"] {
  padding-right: 2px;
}

QToolButton[popupMode="1"] {
  padding-right: 20px;
}

QToolButton[popupMode="1"]::menu-button {
  border: none;
}

QToolButton[popupMode="1"]::menu-button:hover {
  border: none;
  border-left: 1px solid #1f5b5e;
  border-radius: 0;
}

QToolButton[popupMode="2"] {
  padding-right: 2px;
}

QToolButton::menu-button {
  padding: 2px;
  border-radius: 4px;
  width: 12px;
  border: none;
  outline: none;
}

QToolButton::menu-button:hover {
  border: 1px solid #1f5b5e;
}

QToolButton::menu-button:checked:hover {
  border: 1px solid #1f5b5e;
}

QToolButton::menu-indicator {
  image: url(":/Images/Controls_Images_Dark/arrow_down.png");
  height: 8px;
  width: 8px;
  top: 0;
  left: -2px;
}

QToolButton::menu-arrow {
  image: url(":/Images/Controls_Images_Dark/arrow_down.png");
  height: 8px;
  width: 8px;
}

QToolButton::menu-arrow:hover {
  image: url(":/Images/Controls_Images_Dark/arrow_down_focus.png");
}

QCommandLinkButton {
  background-color: transparent;
  border: 1px solid #1f5b5e;
  color: #FAFBFC;
  border-radius: 4px;
  padding: 0px;
  margin: 0px;
}

QCommandLinkButton:disabled {
  background-color: transparent;
  color: #7A7A7A;
}

QComboBox {
  border: 1px solid #1f5b5e;
  border-radius: 4px;
  selection-background-color: #346792;
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgba(9, 14, 57, 0.6);
  color: #fafbfc;
}

QComboBox QAbstractItemView {
  border: 1px solid #1f5b5e;
  border-radius: 0;
  background-color: rgba(9, 14, 57, 0.6);
  selection-background-color: #346792;
}

QComboBox QAbstractItemView:hover {
  background-color: rgba(9, 14, 57, 0.6);
  color: #FAFBFC;
}

QComboBox QAbstractItemView:selected {
  background: #346792;
  color: #13213f;
}

QComboBox QAbstractItemView:alternate {
  background: #035a47;
}

QComboBox:disabled {
  background-color: rgba(64, 67, 74, 0.3);
  color: #7A7A7A;
}

QComboBox:hover {
  border: 1px solid #1f5b5e;
}

QComboBox:focus {
  border: 1px solid #1f5b5e;
}

QComboBox:on {
  selection-background-color: #346792;
}

QComboBox::indicator {
  border: none;
  border-radius: 0;
  background-color: transparent;
  selection-background-color: transparent;
  color: transparent;
  selection-color: transparent;
}

QComboBox::indicator:alternate {
  background: #035a47;
}

QComboBox::item:alternate {
  background: #035a47;
}

QComboBox::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 12px;
  border-left: 1px solid #1f5b5e;
}

QComboBox::down-arrow {
  image: url(":/Images/Controls_Images_Dark/arrow_down.png");
  height: 8px;
  width: 8px;
}

QComboBox::down-arrow:disabled {
  image: url(":/Images/Controls_Images_Dark/arrow_down_disabled.png");
}

QComboBox::down-arrow:on, QComboBox::down-arrow:hover, QComboBox::down-arrow:focus {
  image: url(":/Images/Controls_Images_Dark/arrow_down.png");
}

QSlider:disabled {
  background: #035a47;
}

QSlider:focus {
  border: none;
}

QSlider::groove:horizontal {
  background: #13213f;
  border: 1px solid #1f5b5e;
  height: 4px;
  margin: 0px;
  border-radius: 4px;
}

QSlider::groove:vertical {
  background: #13213f;
  border: 1px solid #1f5b5e;
  width: 4px;
  margin: 0px;
  border-radius: 4px;
}

QSlider::add-page:vertical {
  background: #346792;
  border: 1px solid #1f5b5e;
  width: 4px;
  margin: 0px;
  border-radius: 4px;
}

QSlider::add-page:vertical :disabled {
  background: #26486B;
}

QSlider::sub-page:horizontal {
  background: #346792;
  border: 1px solid #1f5b5e;
  height: 4px;
  margin: 0px;
  border-radius: 4px;
}

QSlider::sub-page:horizontal:disabled {
  background: #26486B;
}

QSlider::handle:horizontal {
  background: #7A7A7A;
  border: 1px solid #1f5b5e;
  width: 8px;
  height: 8px;
  margin: -8px 0px;
  border-radius: 4px;
}

QSlider::handle:horizontal:hover {
  background: #1f5b5e;
  border: 1px solid #1f5b5e;
}

QSlider::handle:horizontal:focus {
  border: 1px solid #1f5b5e;
}

QSlider::handle:vertical {
  background: #7A7A7A;
  border: 1px solid #1f5b5e;
  width: 8px;
  height: 8px;
  margin: 0 -8px;
  border-radius: 4px;
}

QSlider::handle:vertical:hover {
  background: #346792;
  border: 1px solid #1f5b5e;
}

QSlider::handle:vertical:focus {
  border: 1px solid #1f5b5e;
}

QLineEdit {
  background-color: rgba(9, 14, 57, 0.6);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-style: solid;
  border: 1px solid #1f5b5e;
  border-radius: 4px;
  color: #FAFBFC;
}

QLineEdit:disabled {
  background-color: rgba(64, 67, 74, 0.3);
  border: 1px solid #1f5b5e;
  color: #7A7A7A;
}

QLineEdit:hover {
  border: 1px solid #1f5b5e;
  color: #FAFBFC;
}

QLineEdit:focus {
  border: 1px solid #1f5b5e;
}

QLineEdit:selected {
  background-color: #346792;
  color: #13213f;
}

QTabWidget {
  padding: 2px;
  selection-background-color: rgba(9, 14, 57, 0.6);
  background-color: transparent;
}

QTabWidget QWidget {
  border-radius: 4px;
}

QTabWidget::pane {
  border: 1px solid #1f5b5e;
  border-radius: 4px;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}

QTabWidget::pane:selected {
  background-color: transparent;
  border: 1px solid #1f5b5e;
}

QTabWidget QTabBar::tab {
  border-bottom: 3px solid #1f5b5e;
  color: #fafbfc;
  background-color: rgba(9, 14, 57, 0.6);
}

QTabBar, QDockWidget QTabBar {
  color: #fafbfc;
  qproperty-drawBase: 0;
  border-radius: 4px;
  margin: 0px;
  padding: 2px;
  border: 0;
}

QTabBar::close-button, QDockWidget QTabBar::close-button {
  border: 0;
  margin: 0;
  padding: 4px;
  image: url(":/Images/Controls_Images_Dark/window_close.png");
}

QTabBar::close-button:hover, QDockWidget QTabBar::close-button:hover {
  image: url(":/Images/Controls_Images_Dark/window_close_focus.png");
}

QTabBar::close-button:pressed, QDockWidget QTabBar::close-button:pressed {
  image: url(":/Images/Controls_Images_Dark/window_close_pressed.png");
}

QTabBar::tab:top:selected:disabled, QDockWidget QTabBar::tab:top:selected:disabled {
  border-bottom: 3px solid #1f5b5e;;
  color: #7A7A7A;
  background-color: rgba(64, 67, 74, 0.3);
}

QTabBar::tab:bottom:selected:disabled, QDockWidget QTabBar::tab:bottom:selected:disabled {
  border-top: 3px solid #1f5b5e;;
  color: #7A7A7A;
  background-color: rgba(64, 67, 74, 0.3);
}

QTabBar::tab:left:selected:disabled, QDockWidget QTabBar::tab:left:selected:disabled {
  border-right: 3px solid #1f5b5e;;
  color: #7A7A7A;
  background-color: rgba(64, 67, 74, 0.3);
}

QTabBar::tab:right:selected:disabled, QDockWidget QTabBar::tab:right:selected:disabled {
  border-left: 3px solid #1f5b5e;;
  color: #7A7A7A;
  background-color: rgba(64, 67, 74, 0.3);
}

QTabBar::tab:top:!selected:disabled, QDockWidget QTabBar::tab:top:!selected:disabled {
  border-bottom: 3px solid #1f5b5e;
  color: #7A7A7A;
  background-color: rgba(64, 67, 74, 0.3);
}

QTabBar::tab:bottom:!selected:disabled, QDockWidget QTabBar::tab:bottom:!selected:disabled {
  border-top: 3px solid #1f5b5e;
  color: #7A7A7A;
  background-color: rgba(64, 67, 74, 0.3);
}

QTabBar::tab:left:!selected:disabled, QDockWidget QTabBar::tab:left:!selected:disabled {
  border-right: 3px solid #1f5b5e;
  color: #7A7A7A;
  background-color: rgba(64, 67, 74, 0.3);
}

QTabBar::tab:right:!selected:disabled, QDockWidget QTabBar::tab:right:!selected:disabled {
  border-left: 3px solid #1f5b5e;
  color: #7A7A7A;
  background-color: rgba(64, 67, 74, 0.3);
}

QTabBar::tab:top:!selected, QDockWidget QTabBar::tab:top:!selected {
  border-bottom: 2px solid #1f5b5e;
  margin-top: 2px;
}

QTabBar::tab:bottom:!selected, QDockWidget QTabBar::tab:bottom:!selected {
  border-top: 2px solid #1f5b5e;
  margin-bottom: 2px;
}

QTabBar::tab:left:!selected, QDockWidget QTabBar::tab:left:!selected {
  border-left: 2px solid #1f5b5e;
  margin-right: 2px;
}

QTabBar::tab:right:!selected, QDockWidget QTabBar::tab:right:!selected {
  border-right: 2px solid #1f5b5e;
  margin-left: 2px;
}

/********* Tab widget top bar style *********/

QTabBar::tab:top, QDockWidget QTabBar::tab:top {
  background-color: #033a55;
  margin-left: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  min-width: 5px;
  border-bottom: 3px solid #1f5b5e;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

QTabBar::tab:top:selected, QDockWidget QTabBar::tab:top:selected {
  background-color: #011d2b;
  border-bottom: 3px solid #259AE9;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/*********************************************/

QTabBar::tab:top:!selected:hover, QDockWidget QTabBar::tab:top:!selected:hover {
  border: 1px solid #1f5b5e;
  border-bottom: 3px solid #1f5b5e;
  padding-left: 3px;
  padding-right: 3px;
}

QTabBar::tab:bottom, QDockWidget QTabBar::tab:bottom {
  border-top: 3px solid #1f5b5e;
  background-color: #033a55;
  margin-left: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  min-width: 5px;
}

QTabBar::tab:bottom:selected, QDockWidget QTabBar::tab:bottom:selected {
  background-color: #011d2b;
  border-top: 3px solid #259AE9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

QTabBar::tab:bottom:!selected:hover, QDockWidget QTabBar::tab:bottom:!selected:hover {
  border: 1px solid #1f5b5e;
  border-top: 3px solid #1f5b5e;
  padding-left: 3px;
  padding-right: 3px;
}

QTabBar::tab:left, QDockWidget QTabBar::tab:left {
  background-color: #033a55;
  margin-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  min-height: 5px;
}

QTabBar::tab:left:selected, QDockWidget QTabBar::tab:left:selected {
  background-color: #011d2b;
  border-right: 3px solid #259AE9;
}

QTabBar::tab:left:!selected:hover, QDockWidget QTabBar::tab:left:!selected:hover {
  border: 1px solid #1f5b5e;
  border-right: 3px solid #1f5b5e;
  margin-right: 0px;
  padding-right: -1px;
}

QTabBar::tab:right, QDockWidget QTabBar::tab:right {
  background-color: #033a55;
  margin-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  min-height: 5px;
}

QTabBar::tab:right:selected, QDockWidget QTabBar::tab:right:selected {
  background-color: #011d2b;
  border-left: 3px solid #259AE9;
}

QTabBar::tab:right:!selected:hover, QDockWidget QTabBar::tab:right:!selected:hover {
  border: 1px solid #1f5b5e;
  border-left: 3px solid #1f5b5e;
  margin-left: 0px;
  padding-left: 0px;
}

QTabBar QToolButton, QDockWidget QTabBar QToolButton {
  background-color: rgba(9, 14, 57, 0.6);
  height: 12px;
  width: 12px;
}

QTabBar QToolButton:pressed, QDockWidget QTabBar QToolButton:pressed {
  background-color: rgba(9, 14, 57, 0.6);
}

QTabBar QToolButton:pressed:hover, QDockWidget QTabBar QToolButton:pressed:hover {
  border: 1px solid #1f5b5e;
}

QTabBar QToolButton::left-arrow:enabled, QDockWidget QTabBar QToolButton::left-arrow:enabled {
  image: url(":/Images/Controls_Images_Dark/arrow_left.png");
}

QTabBar QToolButton::left-arrow:disabled, QDockWidget QTabBar QToolButton::left-arrow:disabled {
  image: url(":/Images/Controls_Images_Dark/arrow_left_disabled.png");
}

QTabBar QToolButton::right-arrow:enabled, QDockWidget QTabBar QToolButton::right-arrow:enabled {
  image: url(":/Images/Controls_Images_Dark/arrow_right.png");
}

QTabBar QToolButton::right-arrow:disabled, QDockWidget QTabBar QToolButton::right-arrow:disabled {
  image: url(":/Images/Controls_Images_Dark/arrow_right_disabled.png");
}

QDockWidget {
  color: #fafbfc;
  outline: 1px solid #1f5b5e;
  background-color: rgba(9, 14, 57, 0.6);
  border: 1px solid #1f5b5e;
  border-radius: 4px;
  titlebar-close-icon: url(":/Images/Controls_Images_Dark/transparent.png");
  titlebar-normal-icon: url(":/Images/Controls_Images_Dark/transparent.png");
}

QDockWidget QWidget {
  border-radius: 4px;
}

QDockWidget::title {
  padding: 3px;
  padding-bottom: 1px;
  spacing: 4px;
  border: none;
  background-color: rgba(9, 14, 57, 0.6);
}

QDockWidget::close-button {
  icon-size: 12px;
  border: none;
  background: transparent;
  background-image: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  image: url(":/Images/Controls_Images_Dark/window_close.png");
}

QDockWidget::close-button:hover {
  image: url(":/Images/Controls_Images_Dark/window_close_focus.png");
}

QDockWidget::close-button:pressed {
  image: url(":/Images/Controls_Images_Dark/window_close_pressed.png");
}

QDockWidget::float-button {
  icon-size: 12px;
  border: none;
  background: transparent;
  background-image: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  image: url(":/Images/Controls_Images_Dark/window_undock.png");
}

QDockWidget::float-button:hover {
  image: url(":/Images/Controls_Images_Dark/window_undock_focus.png");
}

QDockWidget::float-button:pressed {
  image: url(":/Images/Controls_Images_Dark/window_undock_pressed.png");
}

QTreeView:branch:selected, QTreeView:branch:hover {
  background: url(":/Images/Controls_Images_Dark/transparent.png");
}

QTreeView:branch:has-siblings:!adjoins-item {
  border-image: none; /* Branch Line */
}

QTreeView:branch:has-siblings:adjoins-item {
  border-image: none; /* Branch More*/
}

QTreeView:branch:!has-children:!has-siblings:adjoins-item {
  border-image: none; /* Branch End */
}

QTreeView:branch:has-children:!has-siblings:closed, QTreeView:branch:closed:has-children:has-siblings {
  border-image: none;
  image: url(":/Images/Controls_Images_Dark/branch_closed.png");
}

QTreeView:branch:open:has-children:!has-siblings, QTreeView:branch:open:has-children:has-siblings {
  border-image: none;
  image: url(":/Images/Controls_Images_Dark/branch_open.png");
}

QTreeView:branch:has-children:!has-siblings:closed:hover, QTreeView:branch:closed:has-children:has-siblings:hover {
  image: url(":/Images/Controls_Images_Dark/branch_closed_focus.png");
}

QTreeView:branch:open:has-children:!has-siblings:hover, QTreeView:branch:open:has-children:has-siblings:hover {
  image: url(":/Images/Controls_Images_Dark/branch_open_focus.png");
}

QTreeView::indicator:checked,
QListView::indicator:checked,
QTableView::indicator:checked,
QColumnView::indicator:checked {
  image: url(":/Images/Controls_Images_Dark/checkbox_checked.png");
}

QTreeView::indicator:checked:hover, QTreeView::indicator:checked:focus, QTreeView::indicator:checked:pressed,
QListView::indicator:checked:hover,
QListView::indicator:checked:focus,
QListView::indicator:checked:pressed,
QTableView::indicator:checked:hover,
QTableView::indicator:checked:focus,
QTableView::indicator:checked:pressed,
QColumnView::indicator:checked:hover,
QColumnView::indicator:checked:focus,
QColumnView::indicator:checked:pressed {
  image: url(":/Images/Controls_Images_Dark/checkbox_checked_focus.png");
}

QTreeView::indicator:unchecked,
QListView::indicator:unchecked,
QTableView::indicator:unchecked,
QColumnView::indicator:unchecked {
  image: url(":/Images/Controls_Images_Dark/checkbox_unchecked.png");
}

QTreeView::indicator:unchecked:hover, QTreeView::indicator:unchecked:focus, QTreeView::indicator:unchecked:pressed,
QListView::indicator:unchecked:hover,
QListView::indicator:unchecked:focus,
QListView::indicator:unchecked:pressed,
QTableView::indicator:unchecked:hover,
QTableView::indicator:unchecked:focus,
QTableView::indicator:unchecked:pressed,
QColumnView::indicator:unchecked:hover,
QColumnView::indicator:unchecked:focus,
QColumnView::indicator:unchecked:pressed {
  image: url(":/Images/Controls_Images_Dark/checkbox_unchecked_focus.png");
}

QTreeView::indicator:indeterminate,
QListView::indicator:indeterminate,
QTableView::indicator:indeterminate,
QColumnView::indicator:indeterminate {
  image: url(":/Images/Controls_Images_Dark/checkbox_indeterminate.png");
}

QTreeView::indicator:indeterminate:hover, QTreeView::indicator:indeterminate:focus, QTreeView::indicator:indeterminate:pressed,
QListView::indicator:indeterminate:hover,
QListView::indicator:indeterminate:focus,
QListView::indicator:indeterminate:pressed,
QTableView::indicator:indeterminate:hover,
QTableView::indicator:indeterminate:focus,
QTableView::indicator:indeterminate:pressed,
QColumnView::indicator:indeterminate:hover,
QColumnView::indicator:indeterminate:focus,
QColumnView::indicator:indeterminate:pressed {
  image: url(":/Images/Controls_Images_Dark/checkbox_indeterminate_focus.png");
}

QTreeView,
QListView,
QTableView,
QColumnView {
  background-color: transparent;
  border: 1px solid #1f5b5e;
  color: #FAFBFC;
  gridline-color: #2a4b8d;
  border-radius: 4px;
}

QTableView {
  /*qproperty-showGrid: "false";*/
}

QTreeView:disabled,
QListView:disabled,
QTableView:disabled,
QColumnView:disabled {
  background-color: transparent;
  color: #7A7A7A;
}

QTreeView:selected,
QListView:selected,
QTableView:selected,
QColumnView:selected {
  background-color: #346792;
  color: #13213f;
}

QTreeView:focus,
QListView:focus,
QTableView:focus,
QColumnView:focus {
  border: 1px solid #1f5b5e;
}

QTreeView::item:pressed,
QListView::item:pressed,
QTableView::item:pressed,
QColumnView::item:pressed {
  background-color: #346792;
}

QTreeView::item:selected:active,
QListView::item:selected:active,
QTableView::item:selected:active,
QColumnView::item:selected:active {
  background-color: #346792;
}

QTreeView::item:selected:!active,
QListView::item:selected:!active,
QTableView::item:selected:!active,
QColumnView::item:selected:!active {
  color: #FAFBFC;
  background-color: #055c88;
}

QTreeView::item:!selected:hover,
QListView::item:!selected:hover,
QTableView::item:!selected:hover,
QColumnView::item:!selected:hover {
  outline: 0;
  color: #FAFBFC;
  background-color: #075982;
}

QTreeView::item{
    border: 1px solid #455364;
    border-right: transparent;
    /*border-top: transparent;*/
}

QTableCornerButton::section {
  background-color: rgba(9, 14, 57, 0.6);
  border: 1px transparent #1f5b5e;
  border-radius: 0px;
}

QTableView QComboBox {
  background-color: rgba(9, 14, 57, 255);
}

QHeaderView {
  background-color: rgba(9, 14, 57, 0.6);
  border: 0px transparent #1f5b5e;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

QHeaderView:disabled {
  background-color: rgba(64, 67, 74, 0.3);
  border: 1px transparent #1f5b5e;
}

QHeaderView::section {
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgba(6, 82, 120, 255), stop: 1 rgba(16, 27, 50, 255));
  color: #FAFBFC;
  border-radius: 0;
  text-align: left;
  font-size: 13px;
}

QHeaderView::section::horizontal {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  border-left: 1px solid #1f5b5e;
}

QHeaderView::section::horizontal::first, QHeaderView::section::horizontal::only-one {
  border-left: 1px solid #1f5b5e;
}

QHeaderView::section::horizontal:disabled {
  color: #7A7A7A;
}

QHeaderView::section::vertical {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  border-top: 1px solid #1f5b5e;
}

QHeaderView::section::vertical::first, QHeaderView::section::vertical::only-one {
  border-top: 1px solid #1f5b5e;
}

QHeaderView::section::vertical:disabled {
  color: #7A7A7A;
}

QHeaderView::down-arrow {
  background-color: transparent;
  border: none;
  height: 12px;
  width: 12px;
  padding-left: 2px;
  padding-right: 2px;
  image: url(":/Images/Controls_Images_Dark/arrow_down.png");
}

QHeaderView::up-arrow {
  background-color: transparent;
  border: none;
  height: 12px;
  width: 12px;
  padding-left: 2px;
  padding-right: 2px;
  image: url(":/Images/Controls_Images_Dark/arrow_up.png");
}

QToolBox {
  padding: 0px;
  border: 0px;
  border: 1px solid #1f5b5e;
}

QToolBox:selected {
  padding: 0px;
  border: 2px solid #1f5b5e;
}

QToolBox::tab {
  background-color: rgba(9, 14, 57, 0.6);
  border: 1px solid #1f5b5e;
  color: #FAFBFC;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

QToolBox::tab:disabled {
  color: #7A7A7A;
}

QToolBox::tab:selected {
  background-color: #60798B;
  border-bottom: 2px solid #1f5b5e;
}

QToolBox::tab:selected:disabled {
  background-color: rgba(64, 67, 74, 0.3);
  border-bottom: 2px solid #1f5b5e;;
}

QToolBox::tab:!selected {
  background-color: rgba(9, 14, 57, 0.6);
  border-bottom: 2px solid #1f5b5e;
}

QToolBox::tab:!selected:disabled {
  background-color: rgba(64, 67, 74, 0.3);
}

QToolBox::tab:hover {
  border-color: #1A72BB;
  border-bottom: 2px solid #1f5b5e;
}

QToolBox QScrollArea QWidget QWidget {
  padding: 0px;
  border: 0px;
  background-color: rgba(9, 14, 57, 0.6);
}

.QFrame {
  border-radius: 4px;
  border: 1px solid #1f5b5e;
}

.QFrame[frameShape="0"] {
  border-radius: 4px;
  border: 1px transparent #1f5b5e;
}

.QFrame[frameShape="4"] {
  max-height: 2px;
  border: none;
  background-color: rgba(9, 14, 57, 0.6);
}

.QFrame[frameShape="5"] {
  max-width: 2px;
  border: none;
  background-color: rgba(9, 14, 57, 0.6);
}

QSplitter {
  background-color: transparent;
  spacing: 0px;
  padding: 0px;
  margin: 0px;
}

QSplitter::handle {
  background-color: transparent;
  border: 0px solid #1f5b5e;
  spacing: 0px;
  padding: 1px;
  margin: 0px;
}

QSplitter::handle:hover {
  background-color: #7A7A7A;
}

QSplitter::handle:horizontal {
  width: 5px;
  image: url(":/Images/Controls_Images_Dark/line_vertical.png");
}

QSplitter::handle:vertical {
  height: 5px;
  image: url(":/Images/Controls_Images_Dark/line_horizontal.png");
}

QDateEdit, QDateTimeEdit {
  selection-background-color: #346792;
  border-style: solid;
  border: 1px solid #1f5b5e;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  min-width: 10px;
}

QDateEdit:on, QDateTimeEdit:on {
  selection-background-color: #346792;
}

QDateEdit::drop-down, QDateTimeEdit::drop-down {
  subcontrol-origin: padding;
  subcontrol-position: top right;
  width: 12px;
  border-left: 1px solid #1f5b5e;
}

QDateEdit::down-arrow, QDateTimeEdit::down-arrow {
  image: url(":/Images/Controls_Images_Dark/arrow_down_disabled.png");
  height: 8px;
  width: 8px;
}

QDateEdit::down-arrow:on, QDateEdit::down-arrow:hover, QDateEdit::down-arrow:focus, QDateTimeEdit::down-arrow:on, QDateTimeEdit::down-arrow:hover, QDateTimeEdit::down-arrow:focus {
  image: url(":/Images/Controls_Images_Dark/arrow_down.png");
}

QDateEdit QAbstractItemView, QDateTimeEdit QAbstractItemView {
  background-color: rgba(9, 14, 57, 0.6);
  border-radius: 4px;
  border: 1px solid #1f5b5e;
  selection-background-color: #346792;
}

QAbstractView:hover {
  border: 1px solid #1f5b5e;
  color: #FAFBFC;
}

QAbstractView:selected {
  background: #346792;
  color: #13213f;
}

PlotWidget {
  padding: 0px;
}

/*------------------ Status Bar ------------------------ */

QPushButton[accessibleName="StatusBarPushButton"] {
  color: #000000;
}

QPushButton[accessibleName="Spectra_Icons"]:checked {
  background-color: #1f5b5e;
  border: 1px solid #1f5b5e;
  border-radius: 4px;
  padding: 2px;
}

QPushButton[accessibleName="Spectra_Icons"]:!checked {
  background-color: transparent;
  border: 1px solid #1f5b5e;
  border-radius: 4px;
  padding: 2px;
}
/*------------------------- Legend -----------------------*/
QCheckBox[accessibleName = "Legend_CH1"]::indicator:unchecked {
image: none;
border: 1px solid #19232D;
}

QCheckBox[accessibleName = "Legend_CH1"]::indicator:checked {
image: none;
border: 1px solid #19232D;
background-color: #00ff00;
}

QCheckBox[accessibleName = "Legend_CH2"]::indicator:unchecked {
image: none;
border: 1px solid #19232D;
}

QCheckBox[accessibleName = "Legend_CH2"]::indicator:checked {
image: none;
border: 1px solid #19232D;
background-color: #00ffff;
}

QCheckBox[accessibleName = "Legend_CH3"]::indicator:unchecked {
image: none;
border: 1px solid #19232D;
}

QCheckBox[accessibleName = "Legend_CH3"]::indicator:checked {
image: none;
border: 1px solid #19232D;
background-color: #bb86fc;
}

QCheckBox[accessibleName = "Legend_CH4"]::indicator:unchecked {
image: none;
border: 1px solid #19232D;
}

QCheckBox[accessibleName = "Legend_CH4"]::indicator:checked {
image: none;
border: 1px solid #19232D;
background-color: #ced64f;
}

QCheckBox[accessibleName = "Legend_CH5"]::indicator:unchecked {
image: none;
border: 1px solid #19232D;
}

QCheckBox[accessibleName = "Legend_CH5"]::indicator:checked {
image: none;
border: 1px solid #19232D;
background-color: #ff6464;
}

QCheckBox[accessibleName = "Legend_CH6"]::indicator:unchecked {
image: none;
border: 1px solid #19232D;
}

QCheckBox[accessibleName = "Legend_CH6"]::indicator:checked {
image: none;
border: 1px solid #19232D;
background-color: #26ffa8;
}

QCheckBox[accessibleName = "Legend_CH7"]::indicator:unchecked {
image: none;
border: 1px solid #19232D;
}

QCheckBox[accessibleName = "Legend_CH7"]::indicator:checked {
image: none;
border: 1px solid #19232D;
background-color: #1e90ff;
}

QCheckBox[accessibleName = "Legend_CH8"]::indicator:unchecked {
image: none;
border: 1px solid #19232D;
}

QCheckBox[accessibleName = "Legend_CH8"]::indicator:checked {
image: none;
border: 1px solid #19232D;
background-color: #ff69b4;
}


